<!doctype html>
<html lang="en">
<head>
    <style>
        h1 {
            text-align: center;
        }
        .bback {
            background-color: rgba(195, 198, 203, 0.55);
        }
        .goback {
            padding: 10px;
            justify-content: space-around;
            font-size: 22px;
            font-weight: bold;
            color: lightpink;
            text-decoration: none;
        }
        .dweather {
            text-align: left;
            padding: 10px;
            justify-content: space-around;
            color: darkcyan;
            font-size: 22px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather in {{ .Location.Region }}</title>
</head>
<body class="bback">

<div class="dweather">
    <b> County: {{ .Location.Country }}<br></b>
    <b> City: {{ .Location.Region }} <br></b>
    <b> Airport: {{ .Location.Name }} <br></b>
    <b> Local Time: {{ .Location.Localtime }} <br></b>
    <b> Temperature: {{ .Current.TempC }}, C / {{ .Current.TempF }}, F <br></b>
</div>

<div class="goback">
    <a href="/weather/form" class="button">Go to form</a>
</div>
</body>
</html>